.header {
  font-size: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.header .logo {
  width: 200px;
  padding: 10px 20px;
}

.header .nav {
  padding: 10px 20px;
  font: Karla;
  font-weight: bold;
  font-size: 18px;
  width: 60vw;
  min-width: 300px;
  max-width: 600px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background: #495e57;
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.hero-content {
  grid-column: 3/ span 4;
  max-height: 400px;
  height: calc(600px - 20vw);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-content h1 {
  margin: 0px;
  font-family: 'Markazi Text';
  font-weight: medium;
  font-size: 64px;
  color: #F4CE14;
}

.hero-content h2 {
  margin: 0px;
  font-family: Markazi;
  font-size: 40px;
  color: #EDEFEE;
}

.hero-content p {
  margin: 0px;
  max-width:400px;
  font: Karla;
  font-size: 18px;
  font-weight: medium;
  color: #EDEFEE;
  line-height: 1.5;
}

.hero-content .btn {
  background-color: #F4CE14;
  color: #333333;
  font: Karla;
  font-weight: bold ;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 38px;
  border: none;
  cursor: pointer;
}

.hero-image-container {
  background: #495e57;
  grid-column: 8/ 12;
  display: flex;
}

.hero-image {
  min-width: 150px;
  max-height: 40vh;
  object-fit: contain;
  border-radius: 38px;
}