/* reset.css */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
  padding: 0 5px;
  color: #333333;
  font: Karla;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  text-decoration-line: underline;
}

h1 {
  font-family: 'Markazi Text';
  font-weight: medium;
  font-size: 64px;
}

p {
  line-height: 1.5;
}

.btn {
  background-color: #F4CE14;
  color: #333333;
  font: Karla;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.btn:disabled {
  background: #f4cf1480;
  cursor: not-allowed;
  opacity: 0.5;
}

label {
  margin: 10px;
  font: Karla;
  font-weight: bold;
  font-size: 16px;
  color: #333333;
}

.input {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  font: Karla;
  font-size: 16px;
}

/* For Header */
.header {
  font-size: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.header .logo {
  width: 200px;
  padding: 10px 20px;
}

.header .nav {
  padding: 10px 20px;
  width: 60vw;
  min-width: 300px;
  max-width: 600px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* For Hero section */
.hero {
  background: #495e57;
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.hero-content {
  grid-column: 3/ span 4;
  max-height: 450px;
  height: calc(570px - 15vw);
  min-height: 350px;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-content h1 {
  color: #F4CE14;
}

.hero-content h2 {
  margin: 0px;
  font-family: Markazi;
  font-size: 40px;
  color: #EDEFEE;
}

.hero-content p {
  margin: 0px;
  max-width: 400px;
  font: Karla;
  font-size: 18px;
  font-weight: medium;
  color: #EDEFEE;
  line-height: 1.5;
}

.hero-image {
  grid-column: 8/ 12;
  width: 100%;
  min-width: 150px;
  max-width: 230px;
  object-fit: contain;
  border-radius: 38px;
}

/* For Specials section */
.specials {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: center;
  row-gap: 50px;
}

.specials-header {
  grid-column: 3/ 11;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.specials-cards {
  grid-column: 3/ 11;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.specials-card {
  background: #e2e2e2;
  border-radius: 20px 20px 0px 0px;
  width: 240px;
}

.specials-card-image {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0px 0px;
}

.specials-card-container {
  padding: 30px 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.specials-card-container .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.specials-card-container .title h2 {
  font-family: 'Markazi Text';
  font-weight: medium;
  font-size: 24px;
  color: #333333;
}

.specials-card-container .title p {
  font: 'Karla';
  font-weight: bold;
  font-size: 16px;
  color: #ee9972;
}

.specials-card-container .description {
  font: 'Karla';
  font-size: 16px;
  color: #495e57;
  white-space: normal;
}

.specials-card-container .final {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.specials-card-container .final p {
  color: #333333;
  font: Karla;
  font-weight: bold;
  font-size: 16px;
}

/* For Testimonials section */
.testimonials {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: stretch;
  row-gap: 50px;
}

.testimonials h1 {
  grid-column: 3/ 11;
  justify-self: center;
}

.testimonials .left-arrow {
  grid-column: 2/ 3;
  justify-self: center;
  align-self: center;
}

.testimonials .right-arrow {
  grid-column: 11/ 12;
  justify-self: center;
  align-self: center;
}

.testimonials .container {
  grid-column: 3/ 11;
  height: 250px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* Optional: Add spacing between items */
  gap: 40px;
}

.rolling-card {
  background: #fbdfd4;
  border-radius: 10px;
  min-width: 65vw;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.rolling-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.rolling-card .name {
  font: Karla;
  font-weight: bold;
  font-size: 18px;
}

.rolling-card .comment {
  font: Karla;
  font-weight: 450;
  font-style: italic;
  font-size: 16px;
}

/* For About section */
.about {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: stretch;
  row-gap: 50px;
}

.about-container {
  grid-column: 3/ 6;
  max-height: 400px;
  height: calc(600px - 20vw);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.about-container h1 {
  text-wrap: nowrap;
}

.about-image {
  grid-column: 7/ 11;
  align-self: center;
  min-width: 200px;
  object-fit: cover;
  border-radius: 38px;
}

/* For Footer */
.footer {
  background: #495e57;
  color: #EDEFEE;
  padding: 40px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    ". . logo logo nav nav social social contact contact . ."
    ". . logo logo copyright copyright copyright copyright copyright copyright . .";
  justify-items: stretch;
  column-gap: 20px;
}

.footer-logo {
  grid-area: logo;
  width: 80%;
  min-height: 100px;
  max-height: 200px;
  object-fit: contain;
  padding: 15px 0;
  background-color: #EDEFEE;
}

.footer-nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.footer-nav a {
  color: #EDEFEE;
  font-weight: 500;
}

.footer-social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.footer-social a {
  color: #EDEFEE;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

.footer-social figcaption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-contact {
  grid-area: contact;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
}

.footer-contact p {
  font: Karla;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer>p {
  grid-area: copyright;
  justify-self: center;
  align-self: center;
}

/* Reservations */
.reservations {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.reservation-form {
  width: 50vw;
  min-width: 200px;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.reservation-form .date-time {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.reservation-form .btn {
  margin-top: 30px;
}